body {
  background: linear-gradient(to right, #ffffff, #f1f1f1);
  margin: 0;
  padding: 0;
}

header {
  background-color: #01477d;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 20px;
  font-family: "Arial";
}

.tituloheader {
  display: flex;
  color: #dbeeff;
  align-items: center;
  font-family: "Poetsen One", sans-serif;
}

.principal {
  background: url("Images/background.jpeg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 100px 100px;
  margin: 0;
}

.principal h2 {
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  text-shadow: 2px 2px black;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.boton {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial;
  text-align: center;
  box-shadow: 2px 2px #000000;
}

a {
  text-decoration: none;
  color: #dbeeff;
  font-weight: 600;
  padding-right: 20px;
}

a:hover {
  color: black;
}

footer {
  background-color: #01477d;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  bottom: 0;
  width: 100%;
  font-family: "Arial";
}

.footertexto {
  display: flex;
  color: #dbeeff;
  align-items: center;
  padding-left: 20px;
  font-family: "Arial";
}

.nosotros h2,
.ubicacion h2 {
  text-align: center;
  padding-top: 60px;
  text-shadow: 1px 2px #999;
  font-family: "Arial";
}

.nosotros p,
.ubicacion p {
  text-align: center;
  padding: 20px 30px 60px 30px;
  font-family: "Arial";
  font-style: italic;
}

.ubicacion iframe {
  width: 100%;
  border: none;
  height: 450px;
  margin-top: 20px;
}

.imagenes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.imagen {
  position: relative;
  width: 420px;
  height: 200px;
  text-align: center;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top: 2px solid black;
}

.imagen h3 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-family: Cochin;
  text-shadow: 1px 1px #ffffff;
  font-size: 30px;
  margin: 0;
}

.imagen p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-style: italic;
  font-size: 20px;
  font-family: Cochin;
  text-shadow: 1px 1px #ffffff;
  margin: 0;
}

caption {
  font-family: Arial;
  border-collapse: collapse;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 20%;
  margin: auto;
  margin-bottom: 60px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-family: Arial;
}

.departamentos h2 {
  text-align: center;
  padding: 50px 10px 50px 10px;
  font-family: "Arial";
  text-shadow: 1px 2px #999;
}

.departamentos p {
  text-align: center;
  padding: 10px 10px 50px 10px;
  font-family: "Arial";
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  font-style: italic;
}

.dimagen {
  width: 100%;
  height: 800px;
}

.dp {
  text-align: center;
  padding: 50px 10px 50px 10px;
  font-family: "Arial";
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  font-style: italic;
}

#reserva {
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 15px;
  font-size: 30px;
  text-shadow: 1px 2px #999;
}

.textoreserva {
  font-family: Arial;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  font-style: italic;
}

#formularioreserva {
  font-family: Arial;
  text-align: center;
  padding: 10px 10px 10px 50px;
}

.principalreserva {
  background-image: url("Images/background.jpeg");
  background-size: cover;
}
